.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  background: antiquewhite;
}

.app-name {
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.progress-container {
  min-width: 500px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.language-switcher {
  position: fixed;
  bottom: 20px;
  right: 20px;
}
